{% extends "base.html" %}

{% block title %}
Services
{% endblock %}

{% block content %}

<div class="container py-5">

<h1 class="fw-bold text-success">
Our Services
</h1>

<ul class="list-group">

<li class="list-group-item">
Online Appointment Booking
</li>

<li class="list-group-item">
Patient Medical Records
</li>

<li class="list-group-item">
Doctor Scheduling
</li>

<li class="list-group-item">
Prescription Management
</li>

<li class="list-group-item">
Hospital Management
</li>

<li class="list-group-item">
Queue Management
</li>

</ul>

</div>

{% endblock %}