<form method="POST">

<input type="text" name="first_name" value="{{ patient[3] }}">

<input type="text" name="last_name" value="{{ patient[4] }}">

<input type="text" name="phone" value="{{ patient[8] }}">

<input type="email" name="email" value="{{ patient[9] }}">

<input type="text" name="dzongkhag" value="{{ patient[11] }}">

<input type="text" name="gewog" value="{{ patient[12] }}">

<input type="text" name="village" value="{{ patient[13] }}">

<input type="text" name="emergency_contact_name" value="{{ patient[15] }}">

<input type="text" name="emergency_contact_phone" value="{{ patient[16] }}">

<button class="btn btn-success">
Update Profile
</button>

</form>